@font-face {
    font-family: 'icomoon';
    src: url('/../fonts/icomoon.eot?uss4ri');
    src: url('/../fonts/icomoon.eot?uss4ri#iefix') format('embedded-opentype'),
        url('/../fonts/icomoon.ttf?uss4ri') format('truetype'),
        url('/../fonts/icomoon.woff?uss4ri') format('woff'),
        url('/../fonts/icomoon.svg?uss4ri#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
    content: "\e900";
}

.icon-facebook:before {
    content: "\e901";
}

.icon-star-empty:before {
    content: "\e9d7";
}

.icon-star-half:before {
    content: "\e9d8";
}

.icon-star-full:before {
    content: "\e9d9";
}

.icon-plus:before {
    content: "\ea0a";
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    background-color: #30664E;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: white;
    max-width: 1124px;
    margin: 0 auto;
}

.logotipo {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logotipo img {
    vertical-align: top;
}

.logotipo span {
    font-size: 35px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li {
    list-style: none;
    padding: 20px 0 20px 20px;
}

.menu ul li::after {
    content: "│";
    font-size:
}

.menu ul li:last-child::after {
    display: none;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

/* BUG: Crear lineas de separacion */

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.formulario {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 42px;
    padding: 2px;
}

#search {
    background-color: #ffffff;
    border-top-left-radius: 42px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 42px;
    cursor: pointer;
    color: black;
    font-size: 15px;
    padding: 25px 75px;
    border: none;
}

#search::placeholder {
    color: black;
}

#submit {
    color: white;
    background-color: #24B27C;
    border-radius: 42px;
    cursor: pointer;
    font-size: 15px;
    padding: 20px 60px;
    border: none;
    display: inline-block;
    margin-left: 2px;
    position: relative;
    left: -5px;
}

.principales-destinos {
    background-color: lightgrey;
}

.hero-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1124px;
    margin: 0 auto;
}