@font-face {
    font-family: 'icomoon';
    src: url('/../fonts/icomoon.eot?uzuwo1');
    src: url('/../fonts/icomoon.eot?uzuwo1#iefix') format('embedded-opentype'),
        url('/../fonts/icomoon.ttf?uzuwo1') format('truetype'),
        url('/../fonts/icomoon.woff?uzuwo1') format('woff'),
        url('/../fonts/icomoon.svg?uzuwo1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
    content: "\e900";
}

.icon-facebook:before {
    content: "\e901";
}

.icon-coin-dollar:before {
    content: "\e93b";
    color: #30664E;
}

.icon-envelop:before {
    content: "\e945";
    color: #30664E;
}

.icon-user-check:before {
    content: "\e975";
    color: #30664E;
}

.icon-star-empty:before {
    content: "\e9d7";
}

.icon-star-half:before {
    content: "\e9d8";
}

.icon-star-full:before {
    content: "\e9d9";
}

.icon-question:before {
    content: "\ea09";
    color: #30664E;
}

.icon-plus:before {
    content: "\ea0a";
}



body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    background-color: #30664E;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: white;
    max-width: 1124px;
    margin: 0 auto;
}

.logotipo {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logotipo img {
    vertical-align: top;
}

.logotipo span {
    font-size: 35px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li {
    list-style: none;
    padding: 20px 0 20px 20px;
}

.menu ul li::after {
    content: "│";
    font-size:
}

.menu ul li:last-child::after {
    display: none;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

/* BUG: Crear lineas de separacion */

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.formulario {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 42px;
    padding: 2px;
}

#search {
    background-color: #ffffff;
    border-top-left-radius: 42px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 42px;
    cursor: pointer;
    color: black;
    font-size: 15px;
    padding: 25px 75px;
    border: none;
}

#search::placeholder {
    color: black;
}

#submit {
    color: white;
    background-color: #24B27C;
    border-radius: 42px;
    cursor: pointer;
    font-size: 15px;
    padding: 20px 60px;
    border: none;
    display: inline-block;
    margin-left: 2px;
    position: relative;
    left: -5px;
}

.hero-items {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1124px;
    margin: 0 auto;
    height: 250px;
}

.hero-items div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-items i {
    font-size: 35px;
    margin: 15px;
}

.hero-items h3 {
    font-weight: 400;
}

.container-destinos {
    background-color: #F5F4F5;
    padding-bottom: 50px;
}

.principales-destinos {
    max-width: 1124px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.principales-destinos h2 {
    grid-column: 1 / span 3;
    justify-self: center;
    align-self: center;
    margin: 50px 0  20px 0;
}

.principales-destinos div {
    justify-self: center;
    align-self: center;
    position: relative;
}

.principales-destinos div:nth-of-type(1) {
    grid-column: 1 / span 1;    
}

.principales-destinos div:nth-of-type(2) {
    grid-column: 2 / span 1;    
}

.principales-destinos div:nth-of-type(3) {
    grid-column: 3 / span 1;    
}

.principales-destinos div:nth-of-type(4) {
    grid-column: 1 / span 1;    
}

.principales-destinos div:nth-of-type(5) {
    grid-column: 2 / span 1;    
}

.principales-destinos div:nth-of-type(6) {
    grid-column: 3 / span 1;    
}

.principales-destinos div h3 {
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: white;
    max-width: 55%;
}

.listado-container {
    background-color: #30664E;
}

.listado {
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1124px;
    margin: 0 auto;
}

.listado h2 {
    color: #ffffff;
    font-weight: 600;
}

.listado a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #24B27C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container-actividades {
    background-color: #F5F4F5;
    padding-bottom: 50px;
}

.actividades-destacadas {
    max-width: 1124px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.actividades-destacadas h2 {
    grid-column: 1 / span 3;
    justify-self: center;
    align-self: center;
    margin: 50px 0 20px 0;
    color: #30664E;
}

.actividades-item {
    justify-self: center;
    align-self: center;
    position: relative;
    background-color: #fff;
}

.actividades-item:nth-of-type(1) {
    grid-column: 1 / span 1;
}

.actividades-item:nth-of-type(2) {
    grid-column: 2 / span 1;
}

.actividades-item:nth-of-type(3) {
    grid-column: 3 / span 1;
}